@import 'grid.css';
@import 'typography.css';


*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--normal-font);
  font-size: 16px;
  line-height: 1.3;
  color: #1A202C;
  background: #EFEEEB;
}



.navbar {
    background: #fff;
    padding: 1rem;
}
nav {
   display: none;
   width: 0;
   height: 0;
}
.logo-menu {
    display: flex;
    justify-content: space-between;
}
.mobile-menu {
    cursor: pointer;
    display
}
nav.mobile-btn {
    display: block;
    
}
nav {
  position: fixed;
  z-index: 999;
  width: 100%;
  right: 0;
  top: 0;
  background: linear-gradient(90deg, rgb(83,92,115,0.96) 0%, rgba(26,32,44,0.98) 100%);
  height: 100%;
  padding: 1rem;
}
nav ul {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
}
nav ul li {
    list-style-type: none;
    margin: 1rem;
    justify-content: center;
    align-items: center;
}
nav ul li a {
    font-family: var(--menu-font);
    letter-spacing: 0.25rem;
    text-decoration: none;
    color: rgba(255,255,255);
    display: block;
    padding: 1rem;
    font-size: 5rem;
    text-align: center;
    transition: 0.3s;
}
nav ul li a:hover,
nav ul li a:focus {
  font-size: 3rem;
  color: rgba(248,222,190);
}
.mobile-menu-exit {
    display: block;
    margin: 3.5rem auto;
    cursor: pointer;
}


.book-card {
  margin-bottom: 2rem;
}
.card-img {
  width: 100%;
  max-width: 292px;
  height: auto;
  display: block;
  margin: 0 0 1rem;
}
h3.card__title {
  color: var(--primary-color);
}
h6.card__author {
  color: var(--secondary-color);
  font-family: var(--normal-font);
  font-weight: 400;
  margin-bottom: 2.25rem;
}
p.card__description {
  color: var(--secondary-color);
  font-family: var(--normal-font);
}
h4.card__price {
  color: var(--cta-color);
  font-family: var(--normal-font);
}
.btn-buy {
 display: inline-block;
 width: 100%;
  font-weight: 400;
  line-height: 1.5;
  color:#fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  background-color: var(--primary-color);
  font-family: var(--normal-font);
}
.hero {
  background-color: #fff;
  z-index: -99;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 70vh;
  position: absolute;
  top: 0;
  left:0;
}


.btn {
  font-weight: 500;
  padding: 0.785rem 1.2rem;
  background: #00BFA6;
  color: #fff;
  border: none;
  border-radius: 24px;
  display:inline-block;
  text-decoration: none;
}
.btn-link {
  padding: 0.785rem 1.2rem;
  color: #C2A792;
  display:inline-block;
  text-decoration: none;
}
.custom {
  background: tomato;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.div-custom {
  padding: 2rem;
}



